$anim: all 0.2s linear;
$primary: #938784;

//fonts

@font-face {
  font-family: PLR;
  src: url('../fonts/Panton-Light.otf');
}

@font-face {
  font-family: PR;
  src: url('../fonts/Panton-Regular.otf');
}

@font-face {
  font-family: PTR;
  src: url('../fonts/Panton-Thin.otf');
}

@font-face {
  font-family: MoM;
  src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: MuR;
  src: url('../fonts/muller-regular.otf');
}

@font-face {
  font-family: ML;
  src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: CEL;
  src: url('../fonts/Circe-ExtraLight.eot');
}

@font-face {
  font-family: MT;
  src: url('../fonts/Montserrat-Thin.ttf');
}

@font-face {
  font-family: MUL;
  src: url('../fonts/MullerUltraLight.ttf');
}

@font-face {
  font-family: ML;
  src: url('../fonts/MullerLight.ttf');
}

@font-face {
  font-family: MB;
  src: url('../fonts/MullerBold.ttf');
}

@font-face {
  font-family: MuM;
  src: url('../fonts/MullerMedium.ttf')
}

//base stilization

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #FCFCFC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: $anim;

  &:hover {
    text-decoration: none;
  }
}

img {
  width: 100%;
  height: auto;
}

.require-btn {
  font-family: MuR, Aria, sans-serif;
  font-size: 14px;
  color: white;
  height: 48px;
  background: $primary;
  border: none;
  clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  transform: skewX(10deg);
  cursor: pointer;
  outline: none;
  position: relative;
  width: 100%;
  transition: $anim;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;

  &:hover {
    background: #A49592;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(255, 247, 183, 0.15), 0 4px 4px 0 rgba(147, 135, 132, 0.6);
  }

  &::before {
    content: '';
    position: absolute;
    width: 1.5px;
    height: 100%;
    background: #FBF289;
    top: 0;
    left: 3px;
  }

  p {
    transform: skewX(-10deg);
  }
}

.section {
  min-height: 768px;
}

//bootstrap settings

.container-fluid {
  padding-left: 80px;
  padding-right: 80px;
}

//progress-bar

.progressbar {
  position: fixed;
  top: 0;
  right: -30px;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $primary;
    filter: blur(20px);
    opacity: 0.4;
    z-index: 1;
  }

  .progress-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 10px;
    width: 100px;
    margin-right: 85px;
    position: relative;
    z-index: 3;

    &:hover {
      font-size: 13px;
      width: auto;
      height: auto;
      background: none;

      .progress-item {
        font-size: 13px;
        width: auto;
        height: auto;
        background: none;
      }

      a {
        font-size: 13px;
        width: auto;
        background: none;
        height: 30px;
      }
    }
  }

  .progress-item {
    text-align: right;
    font-size: 0;
    width: 14px;
    height: 2px;
    background: #303030;
    margin: 12px 0;
    display: flex;
    justify-content: flex-end;

    a {
      font-size: 0;
      display: block;
      width: 14px;
      height: 30px;
      text-align: right;
      transition: none;
    }
  }

  a {
    font-family: MR, Arial, sans-serif;
    font-size: 13px;
    color: #303030;
    text-align: right;
  }

  .nav {
    width: auto;
    height: auto;
    background: none;

    a {
      font-size: 13px;
      width: auto;
      height: auto;
      background: none;
    }
  }

  .line1 {
    width: 1px;
    height: 323/768*100vh;
    background: #303030;
    position: relative;
    z-index: 3;

    .done {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #FFF7B7;
      transition: all 0.1s linear;

      &::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        background: white;
        border-radius: 50%;
        bottom: 0;
        left: -2px;
      }

      &::after {
        content: '';
        position: absolute;
        width: 21px;
        height: 21px;
        background: white;
        opacity: 0.2;
        border-radius: 50%;
        bottom: -8px;
        left: -10px;
      }
    }
  }

  .line2 {
    width: 1px;
    height: 350/768*100vh;
    background: #303030;
    position: relative;
    z-index: 3;

    .done {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #FFF7B7;
      transition: all 0.1s linear;
      display: none;

      &::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        background: white;
        border-radius: 50%;
        bottom: 0;
        left: -2px;
      }

      &::after {
        content: '';
        position: absolute;
        width: 21px;
        height: 21px;
        background: white;
        opacity: 0.2;
        border-radius: 50%;
        bottom: -8px;
        left: -10px;
      }
    }
  }
}

//header

.header {
  padding-top: 32px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: $anim;

  .row {
    align-items: center;
  }

  .tel {
    font-family: MoM, Arial, sans-serif;
    font-size: 14px;
    color: white;
  }

  .address {
    font-family: PR, Arial, sans-serif;
    font-size: 14px;
    color: white;
  }

  .lss-logo {
    max-width: 142px;
  }

  .contacts-header {
    display: flex;
    flex-direction: column;
  }

  .custom-flex {
    display: flex;
    justify-content: space-between;
    padding-right: 8%;
    position: relative;

    a, p {
      position: relative;
      z-index: 2;
    }



    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 120%;
      top: -20%;
      left: 0%;
      background: rgba(20, 96, 140, 0.4);
      filter: blur(25px);
      z-index: 1;
    }
  }
}


.header-down {
  background: $primary;

  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;

  .header-logo path {
    fill: #FFF7B7;
  }

  .custom-flex::before {
    display: none;
  }

  .require-btn {
    border: 1px solid white;
    color: white;

    &::before {
      background: white;
    }
  }
}

.header-logo {
  max-width: 120px;
}

//block1

.block1 {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
  padding-bottom: 80px;
  padding-top: 291px;

  .row {
   align-items: center;
    height: 100%;
  }

  .title {
    font-family: ML, Arial, sans-serif;
    font-size: 56px;
    color: $primary;
    text-transform: uppercase;
    max-width: 445px;
    margin-bottom: 52px;
    text-shadow: -2px 2px 10px rgba(125, 95, 87, 0.2);
  }

  .block1-list {
    display: flex;
    justify-content: space-between;
  }

  .block1-item {
    p {
      font-family: PLR, Arial, sans-serif;
      font-size: 20px;
      color: $primary;
      max-width: 190px;
    }

    .white {
      color: white;
    }
  }

  .blur2 {
    position: relative;

    svg, p {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 120%;
      background: rgba(137, 88, 94, 0.6);
      filter: blur(30px);
      z-index: 1;
      left: -15%;
      top:-10%;
    }
  }

  .blur3 {
    position: relative;

    svg, p {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 120%;
      background: rgba(85, 76, 57, 1);
      filter: blur(40px);
      z-index: 1;
      left: -15%;
      top: -10%;
    }
  }
}

//block2

.block2 {
  height: 100vh;
  display: flex;

  .map1 {
    width: 47%;
    height: 100%;
    position: relative;


    &::before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100vh 100px 0px 0;
      border-color: transparent #FCFCFC transparent transparent;
      position: absolute;
      top: 0;
      right: 0px;
      z-index: 5;
    }
  }

  .map1-cont {
    width: 100%;
    height: 100%;
  }

  .block2-right {
    width: 100% - 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 165px;

    .title {
      font-family: "Circe Light", Arial, sans-serif;
      font-size: 48px;
      color: #303030;
      margin-bottom: 100px;
    }

    .subtitle {
      font-family: ML, Arial, sans-serif;
      font-size: 34px;
      color: #303030;
      line-height: 95%;
      max-width: 580px;
    }

    .desc {
      font-family: "Circe Light", Arial, sans-serif;
      font-size: 17px;
      color: #303030;
      font-weight: 500;
      max-width: 560px;
      margin-top: 30px;
    }

    .block2-list {
      max-width: 237px - 80px;
      padding: 41px - 27px 36px;
      padding-right: 0;
      position: relative;
      z-index: 2;
      background: #FCFCFC;;

      &::before {
        content: '';
        width: 0;
        height: 0;
        top:0;
        right: -80px;
        position: absolute;
        border-style: solid;
        border-width: 0px 0 636px 80px;
        border-color: transparent transparent transparent #FCFCFC;
      }
    }

    .list-cont {
      max-width: 237px - 80px;
      position: absolute;
      left: -130px;
      z-index: 10;
    }

    .blur-bg {
      background: rgba(125, 95, 87, 0.1);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      filter: blur(20px);
      z-index: 1;

      &::before {
        content: '';
        width: 0;
        height: 0;
        top:0;
        right: -80px;
        position: absolute;
        border-style: solid;
        border-width: 0px 0 636px 80px;
        border-color: transparent transparent transparent rgba(125, 95, 87, 0.1);
      }
    }

    .block2-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 27px 0;
      position: relative;
      box-sizing: content-box;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba(147, 135, 132, 0.4);
        left: 0;
        bottom: 0;
      }

      &:last-of-type {
        &::before {
          display: none;
        }
      }
    }

    .number {
      font-family: ML, Arial, sans-serif;
      font-size: 60px;
      color: #938784;
      margin-bottom: 10px;
      line-height: 100%;
    }

    .item-desc {
      font-family: ML, Arial, sans-serif;
      font-size: 14px;
      color: #938784;
      max-width: 130px;
      text-align: center;
      line-height: 100%;
    }
  }
}

.block3 {
  height: 100vh;
  padding-top: 96px;
  padding-bottom: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;

  .title {
    font-family: ML, Arial, sans-serif;
    font-size: 56px;
    color: white;
    max-width: 455px;
    text-transform: uppercase;
    margin-bottom: 20px;
   text-shadow: -2px 2px 10px rgba(125, 95, 87, 0.8);
  }

  .desc {
    font-family: PR, Arial, sans-serif;
    font-size: 21px;
    color: white;
    max-width: 442px;
    text-shadow: -2px 2px 10px rgba(125, 95, 87, 0.8);
  }

  .row {
    height: 100%;
  }

  .col-lg-9 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.block4 {
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;

  img {
    object-fit: cover;
    display: none;
  }

  .selected-img {
    display: block;
  }

  .col-lg-7 {
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .transform-block {
    position: relative;
    z-index: 3;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      clip-path: polygon(100px  0, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  .block4-list {
    width: 120%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }

  .custom {
    flex-wrap: nowrap;
  }

  .block4-item {
    padding-left: calc(80px + 8%);
    order: 2;
    position: relative;
    cursor: pointer;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(147, 135, 132, 0.3);

    &:last-of-type {
      border-bottom: none;
    }

    &::before {
      content: '';
      position: absolute;
      width: 11px;
      height: 1px;
      background: #938784;
      top: 47%;
      left: calc(80px + 4%);
    }

    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 11px;
      background: #938784;
      top: calc(47% - 5px);
      left: calc(80px + 4% + 4.5px);
    }
  }

  .selected {
    box-shadow: 0 8px 36px rgba(125, 95, 87, 0.3);
    padding-bottom: 70px;
    padding-top: 140px;
    order: 0;
    cursor: auto;

    &::after {
      display: none;
    }

    .title {
      font-family: "Circe Light", Arial, sans-serif;
      font-size: 48px;
      color: #303030;
      text-transform: uppercase;
      max-width: 345px;
      margin-bottom: 20px;
    }

    .desc {
      font-family: ML, Arial, sans-serif;
      font-size: 18px;
      color: #161f36;
      line-height: 130%;
      max-width: 482px;
      display: block;
    }
  }

  .title {
    font-family: "Circe Light", Arial, sans-serif;
    font-size: 24px;
    color: #303030;
    text-transform: uppercase;
  }

  .desc {
    display: none;
  }
}

.block5 {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  margin-bottom: 30px;

  .row {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .title {
    font-family: ML, Arial, sans-serif;
    font-size: 56px;
    color: white;
    max-width: 475px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: -2px 2px 10px rgba(125, 95, 87, 0.8);
  }

  .desc {
    font-family: PR, Arial, sans-serif;
    font-size: 21px;
    color: white;
    max-width:650px;
    margin-bottom: 60px;
    text-shadow: -2px 2px 10px rgba(125, 95, 87, 0.8);
  }

  .btn {
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: white;
    }
  }
}

.block6 {
  .slide {
    overflow: hidden;

    img {
      object-fit: cover;
      max-height: 305px;
    }
  }

  .block6-slider {
    display: flex;
    flex-direction: column;

    .slick-dots {
      display: flex;
      align-self: center;
      margin-top: 30px;

      button {
        padding: 0;
        width: 10px;
        height: 10px;
        cursor: pointer;
        outline: none;
        background: rgba(125, 95, 87, 0.4);
        font-size: 0;
        border: none;
        margin: 0 5px;
        transition: $anim;

        &:hover {
          background: #FBF289;
        }
      }

      .slick-active {
        button {
          background: #938784;
        }
      }
    }

    .slick-slide {
      opacity: 0.5;
      transition: $anim;
    }

    .slick-current {
      opacity: 1;
    }
  }
}

.block7 {
  margin-top: 75px;
  padding-top: 214px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 0%;
  margin-bottom: 135px;


  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(200,188,185,0) 0%, #fbf289 50%, rgba(200,188,185,0) 100%);
    top: 0;
    left: 0;
  }

  .title {
    font-family: ML, Arial, sans-serif;
    font-size: 56px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -2px 2px 10px rgba(125, 95, 87, 1);
    margin-bottom: 70px;
  }

  .desc {
    font-family: PR, Arial, sans-serif;
    font-size: 21px;
    color: white;
    text-align: center;
    text-shadow: -2px 2px 10px rgba(125,95,87,1);
  }

  .inner-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      width: 90%;
      height: 2px;
      top: 15px;
      left: 0;
      background: linear-gradient(to right, rgba(147,135,132,0) 0%, rgba(147,135,132,0) 12.71%, #938784 49.72%, rgba(147, 135,132,0) 100%);
    }

    &::after {
      content: '';
      position: absolute;
      width: 90%;
      height: 2px;
      bottom: -20px;
      left: 0;
      background: linear-gradient(to right, rgba(147,135,132,0) 0%, rgba(147,135,132,0) 12.71%, #938784 49.72%, rgba(147, 135,132,0) 100%);
    }
  }
}

.block8 {
  padding-bottom: 115px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #c8bc89 0%, rgba(200,188,185, 0) 100%);
    left: 80px;
  }

  .title {
    font-family: "Circe Light", Arial, sans-serif;
    font-size: 68px;
    color: #303030;
    text-align: center;
    margin-bottom: 100px;
    text-transform: uppercase;
  }

  .desc {
    font-family: MUL, Arial, sans-serif;
    font-size: 14px;
    color: #303030;
    max-width: 216px;
  }

  .block8-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .block8-item {
    width: 33.333%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    svg {
      margin-right: 52px;
    }
  }
}

.block9 {
  padding-top: 106px;
  padding-bottom: 45px;
  padding-right: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 120% 100%;
  margin-top: 15px;
  margin-bottom: 15px;

  .title {
    font-family: "Circe Light", Arial, sans-serif;
    font-size: 48px;
    color: #303030;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .subtitle {
    font-family: MR, Arial, sans-serif;
    font-size: 24px;
    color: #303030;
  }

  .block9-list {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .block9-item {
    font-family: MUL, Arial, sans-serif;
    font-size: 18px;
    color: #303030;
    line-height: 140%;
  }

  .desc {
    font-family: MUL, Arial, sans-serif;
    font-size: 14px;
    color: #303030;
    margin-bottom: 40px;
  }

  .block9-slide {
    position: relative;
    padding-left: 3%;
    overflow: hidden;

    .transform1 {
      position: absolute;
      opacity: 0.1;
      top: 0;
      left: -1%;
    }

    img {
      height: 100%;
      object-fit: cover;
    }

    .transform2 {
      position: absolute;
      opacity: 0.05;
      top: 0;
      left: -7%;
    }
  }

  .block9-slider{
    position: relative;
  }

  .slick-dots {
    display: flex;
    position: relative;
    left: 25%;
    margin-top: 25px;

    button {
      width: 10px;
      height: 10px;
      padding: 0;
      cursor: pointer;
      outline: none;
      margin: 0 5px;
      font-size: 0;
      border: none;
      background: rgba(125, 95, 87, 0.4);
      transition: $anim;

      &:hover {
        background: #FFDC6B;
      }
    }

    .slick-active {
      button {
        background: #938784;
      }
    }
  }

  .slick-prev, .slick-next {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(125, 95, 87, 0.5);
    border: none;
    font-size: 0;
    cursor: pointer;
    outline: none;
    transition: $anim;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      border-radius: 2px;
      background: white;
    }

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      border-radius: 2px;
      background: white;
    }

    &:hover {
      background: #938784;

      &::before, &::after {
        background: #FFF7B7;
      }
    }
  }

  .slick-next {
    right: 110px;
    bottom: -14px;

    &::before {
      transform: rotate(45deg);
      top: 16px;
      left: 17px;
    }

    &::after {
      transform: rotate(-45deg);
      bottom: 16px;
      left: 17px;
    }
  }

  .slick-prev {
    right: 152px;
    bottom: -14px;

    &::before {
      transform: rotate(45deg);
      bottom: 16px;
      left: 15px;
    }

    &::after {
      transform: rotate(-45deg);
      top: 16px;
      left: 15px;
    }
  }
}

.block10 {
  margin-bottom: 58px;

  .row {
    position: relative;
    padding-top: 95px;
    padding-bottom: 90px;

    &::before {
      content: '';
      position: absolute;
      width: 50%;
      top: 0;
      right: 0;
      height: 2px;
      background: linear-gradient(to right, rgba(200, 188, 185, 0), rgba(200, 188, 185, 1));
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, rgba(200,188,185,0) 0%, rgba(147,135,132,0.77) 50%, rgba(200,188,185,0) 100%);
    }
  }

  .block10-list {

    position: relative;
    display: flex;
    justify-content: space-between;


  }

  .block10-item {
    display: flex;
    flex-direction: column;
    align-items: center;


    .img-cont {
      width: 100px;
      height: 100px;
      border: 1px solid #938784;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
  }

  .desc {
    font-family: MR, Arial, sans-serif;
    font-size: 18px;
    color: #303030;
    max-width: 155px;
    text-align: center;
  }
}

.block11 {
  .title {
    font-family: "Circe Light", Arial, sans-serif;
    font-size: 48px;
    color: #303030;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
  }

  #map2 {
    width: 100%;
    height: 550px;
  }
}

.footer {
  .lss-logo {
    max-width: 136px;
  }

  .footer-top {
    padding-top: 54px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
  }

  .tel {
    font-family: MuM, Arial, sans-serif;
    font-size: 16px;
    color: #5c5c5c;
  }

  .address {
    font-family: ML, Arial, sans-serif;
    font-size: 16px;
    color: #5c5c5c;
  }

  .kdm {
    font-family: MuM, Arial, sans-serif;
    font-size: 16px;
    color: #5c5c5c;

    span {
      text-decoration: underline;
    }
  }


}
.footer-bottom {
  background: #938784;
  padding: 20px 0;
  padding-left: 80px;

  .copyright {
    font-family: MuR, Arial, sans-serif;
    font-size: 14px;
    color: white;
  }
}

.ymaps-2-1-69-balloon__content {
  strong {
    font-family: MB, Arial, sans-serif;
    font-size: 14px;
    color: #161f36;
    padding-bottom: 5px;
    border-bottom: 2px solid #D1DBE3;
  }

  p {
    font-family: MuR, Arial, sans-serif;
    font-size: 11px;
    color: #161f36;

    &:first-of-type {
      padding-top: 9px;
    }
  }
}

.ymaps-2-1-69-balloon__tail {
  display: none!important;
}